.transitions {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    transition-delay: 150ms;
  }
  
  .transitions:hover {
    transform: translateY(-1px) scale(1.1);
  }